@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');


body{
  padding:50px;
  background: #000000;


}

.grid{
  display: grid;
  width: 100%;
  max-width: 850px;
  margin:0px 150px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;

}